<app-header [name]="cvData.name" [nameSuffix]="cvData.nameSuffix" [jobTitle]="cvData.jobTitle"
  [telephone]="cvData.telephone" [githubLink]="cvData.githubLink"></app-header>
<div class="flex-container">
  <div class="flex-item-1">
    <app-employment-history [employmentHistory]="cvData.employmentHistory"></app-employment-history>
  </div>
  <div class="flex-item-2">
    <app-personal-summary [personalSummary]="cvData.personalSummary"></app-personal-summary>
    <app-soft-skills [skills]="cvData.skills"></app-soft-skills>
    <app-tech-skills [tech]="cvData.tech"></app-tech-skills>
  </div>
</div>
