.name {
  display: inline;
}

.suffix {
  color: grey;
  display: inline;
  font-size: small;
  padding-left: 1em;
}

.job-title {
  font-size: x-large;
  text-transform: uppercase;
}

.telephone {
  display: inline;
}

.email {
  display: inline;
  padding-left: 1em;
}

.github-link {
  display: inline;
  padding-left: 1em;
}
