.employer {
  display: inline;
  padding-left: 1em;
}

.employment-era {
  color: grey;
  display: inline;
  font-size: small;
}

@media print {
  .employment-record {
    page-break-after: always;
  }
}
